<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Phonebook</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="{{ url_for('site.home') }}" class="navbar-brand">Phonebook</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navmenu"
            ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('site.home') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.profile') }}" class="nav-link">Profile</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.signin') }}" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.signup') }}" class="nav-link">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>For Yadhira</title>
</head>
<body>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">For Yadhira</a>
        <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="#ourfirst1" class="nav-link">Happy</a>
            </li>
            <li class="nav-item">
                <a href="#ourfirst2" class="nav-link">Valentines</a>
            </li>
            <li class="nav-item">
                <a href="#ourfirst3" class="nav-link">Day!</a>
            </li>
        </ul>
    </div>
    </div>
</nav>



<!-- Main Section -->
<section  id = 'ourfirst1'class="bg-dark text-light p-10 p-lg-0 pt-lg-10 p-md-10 text-center text-sm-start shadow p-3 mb-5 bg-body">
    <div class="container p-5 bg-dark">
        <div class="row-md col-sm">
            <div class="d-md-flex bg-dark align-items-center justify-centent-evenly">
                <h1 class="col-lg-2 col-md-6 pe-sm-5 text-white">From the moment I first met you</h1>
                <img src="static/img_1.jpg" alt="Glacial Lake"class="img-fluid col-lg-8 col-md-6">
            </div>
        </div>
    </div>
</section>

<!-- Second Panel -->
<section id="ourfirst2" class="p-10 p-lg-0 lg-10 text-center text-sm-start">
    <div class="container mt-10 p-5">
        <div class="row-md col-sm">
            <div class="d-sm-flex align-items-center justify-content-evenly">
                <img src="static/img_2.jpg" alt="" class="img-fluid shadow-lg col-lg-8 col-md-6">
                <h1 class="p-5 col-lg-2 col-md-6">I always thought being with you</h1>
            </div>
        </div>
    </div>
</section>

<!-- Third Panel -->
<section id = "ourfirst3"class="bg-dark text-light p-10 pt-10 p-lg-0 text-center text-sm-start showdow">
    <div class="container-mt-10 p-5">
        <div class="d-sm-flex align-items-center justify-content-evenly">
            <h1 class="p-5 col-lg-2 col-md-6 text-white">would've been impossible for me</h1>
            <img src="static/img_4.jpg" alt="Fishing Village" class="img-fluid shadow-lg col-lg-8 col-md-6">
        </div>
    </div>
</section>

<section id="about" class="p-10 p-lg-0 lg-10 text-center text-sm-start">
    <div class="container mt-10 p-5">
        <div class="row-md col-sm">
            <div class="d-sm-flex align-items-center justify-content-evenly">
                <img src="static/img_5.jpg" alt="" class="img-fluid shadow-lg col-lg-8 col-md-6">
                <h1 class="p-5 col-lg-2 col-md-6">but now that we are here</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-light p-10 pt-10 p-lg-0 text-center text-sm-start showdow">
    <div class="container-mt-10 p-5">
        <div class="d-sm-flex align-items-center justify-content-evenly">
            <h1 class="p-5 col-lg-2 col-md-6 text-white">its impossible to think that</h1>
            <img src="static/img_3.jpg" alt="Fishing Village" class="img-fluid shadow-lg col-lg-8 col-md-6">
        </div>
    </div>
</section>

<section id="about" class="p-10 p-lg-0 lg-10 text-center text-sm-start">
    <div class="container mt-10 p-5">
        <div class="row-md col-sm">
            <div class="d-sm-flex align-items-center justify-content-evenly">
                <img src="static/beach_pic.jpg" alt="" class="img-fluid shadow-lg col-lg-8 col-md-6">
                <h1 class="p-5 col-lg-2 col-md-6">I have gone so long without you.</h1>
            </div>
        </div>
    </div>
</section>

<!-- Fourth Panel -->
<!-- <section id="gallery" class="p-10 p-lg-0 lg-10 text-center text-sm-start shadow-lg">
    <div class="container p-5">
        <h2 class="text-center p-5">See the gallery.</h2>
        <div class="row g-4 p-4">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/Fishing_Boat.jpeg" alt="Fishing Boat" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/lights.jpeg" alt="Lights" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/backcountry_river.jpeg" alt="Backcounty River" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/autumn_leaves.jpeg" alt="Autumn Leaves" class="img-fluid shadow-lg p-0">
            </div>
            

        </div>
        <div class="row g-4 p-4">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/crab_pots.jpeg" alt="Crab Pots" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/Hidden_Harbor.jpeg" alt="Hidden Harbor" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/solitude_glacier.jpeg" alt="Solitude Glacier" class="img-fluid shadow-lg p-0">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="static/reach_to_heaven.jpeg" alt="Reach To Heaven" class="img-fluid shadow-lg p-0">
            </div>
        </div>
    </div>
</section> -->

<!-- Final Section -->
<section id="locations" class="bg-dark text-light text-center p-5">
    <h5>I love you Yadhira Aranda.</h5>
</section>

<footer>
    <p class="lead text-center p-3"></p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>